.no-user-select {
    /* Cross Platform solution to remove user select highlight */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-select {
    /* Cross Platform solution to add user select highlight */
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

html, body, .demo-container
{
	margin:0;
	height:100%;
}

.demo-menu {
	width:100%;
	height: 10%;
	
	display: table;
	
	color: white;
	background-color: #757575;
}

.demo-menu > div:nth-child(n) {
	width:50%;
	height:100%;
	
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.options > p{
	margin-bottom:5px;
}

.options > input{
	cursor:pointer;
}

.flexible-menu-container {	
	height:90%;
	
	/* Setting how children will be arranged */
	display: -webkit-flex;
    display: flex;
	/* Horizontal alignment */
	-webkit-justify-content: center;
    justify-content: center;
	/* Vertical alignment */
	-webkit-align-items: center;
    align-items: center;
}

.flexible-menu {
	width:50%;
	height:80%;
	background-color:#e3e3e3;
}

.menu-row{
	width:100%;
}

.row-header{
	width:100%;
	height:50px;
	line-height:50px;
	
	background-color:#2f4f4f;
	color:white;
	text-align: center;
	
	cursor:pointer;
}

.row-content{
	width:100%;
	background-color:#aaaaaa;
	overflow-y:auto;

	
	 -webkit-transition: height 0.5s;  /* Safari */
    -moz-transition:     height 0.5s; 
    -o-transition:       height 0.5s; 
    -ms-transition:      height 0.5s; 
    transition:          height 0.5s; 
}
